.container{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.todoBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 30px;
  background-color: rgb(189, 245, 4);
  padding: 10px ;
}